[MASTER]
py-version >= 3.8
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    W0613,
    C0103,
    E0401,
    W0707,
    W0703,
    W0102,
    W0105,
    W0511,
    R0913,
    R0914,
    R0801
