anyio==3.1.0
asgiref==3.3.4
attrs==21.2.0
boto3==1.17.95
botocore==1.20.95
certifi==2021.5.30
click==7.1.2
Django==3.2.4
django-rest-framework==0.1.0
djangorestframework==3.12.4
fastapi==0.65.2
Flask==2.0.1
h11==0.12.0
httpcore==0.13.6
httpx==0.18.2
idna==3.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pydantic==1.8.2
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
python-slugify==3.0.6
pytz==2021.1
PyYAML==5.4.1
rfc3986==1.5.0
s3transfer==0.4.2
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.1
starlette==0.14.2
text-unidecode==1.3
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.5
Werkzeug==2.0.1
-e git+https://github.com/e-kor/yappa.git@41582299cf080e6c4f6517a554949a3aafdbd1b8#egg=yappa
