anyio==3.2.1
boltons==21.0.0
boto3==1.17.112
botocore==1.20.112
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.2
click==8.0.1
cryptography==3.4.7
Flask==2.0.1
furl==2.1.2
googleapis-common-protos==1.53.0
grpcio==1.38.1
h11==0.12.0
httpcore==0.13.6
httpx==0.18.2
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
MarkupSafe==2.0.1
orderedmultidict==1.0.1
protobuf==3.17.3
pycparser==2.20
PyJWT==2.1.0
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
rfc3986==1.5.0
s3transfer==0.4.2
six==1.16.0
sniffio==1.2.0
urllib3==1.26.6
Werkzeug==2.0.1
yandexcloud==0.97.0
yappa>=0.4.5
